<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel='stylesheet' href='/css/user/style.css'/>
    <link rel="stylesheet" href="css/magnific-popup.css">
</head>

<body>
<header>

    <!-- navigation -->
    <%- include ../template/navigation.ejs %>

    <!-- Блок с картинкой и svg анимацией !-->
    <div class="logoAndMainTextSection valign-wrapper">
        <div class="logoAndMainText">
            <div class="container">
                <div class="row">
                    <div class="col l12 m12 s12 hide-on-med-and-down valign-wrapper">
                        <!--   <svg class="valign" style="width: 300px; height: 300px; margin: 0 auto;">
                             <path class="path" fill="transparent" stroke="#fff" stroke-width="4" stroke-miterlimit="10" d="M66.039,133.545c0,0-21-57,18-67s49-4,65,8
               s30,41,53,27s66,4,58,32s-5,44,18,57s22,46,0,45s-54-40-68-16s-40,88-83,48s11-61-11-80s-79-7-70-41
               C46.039,146.545,53.039,128.545,66.039,133.545z"/>
                           </svg> !-->
                        <img src="/images/design/ArtObject.png" class="valign" style="width: 300px; height: 100px; margin: 0 auto; z-index: 50;">
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 m12 s12 hide-on-med-and-down valign-wrapper">
                        <div class="valign mainTextAboutArtObject"> Тут какой то текст о фирме, надо придумать
                            jsakdjsakdjkas ja
                            sajkdksadjaskdj a
                            skadjsakdjaksdjskadjska khghhkhdjask jksdjkasjdsakjdkasdjks sjdkj ksjda
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Основная картинка-фон  *******  Переделать на background в css ******** !-->
        <div class="mainBackground" style="background: rgba(0,0,0,0.3);">
            <img src="/images/main.jpg">
        </div>

    </div>

    <!-- стрелка для скрола вниз !-->
    <div class="scrollBottomArrow">
        <a href="#scrollBottom" class="waves-effect waves-light">
            <img src="/images/bottom.svg">
        </a>
    </div>


</header>


<main class="grey lighten-2 row">
    <!-- Заголовок  !-->
    <div id="scrollBottom" class="row padding-20">
        <div class="col l4 s4 m4 hide-on-small-only" style="height: 140px;">
            <div class="line brown lighten-2 right"></div>
        </div>
        <div class="col l4 m4 s12 projectsTitle">
            <h1 class="center-align ">Наши работы</h1>
        </div>
        <div class="col l4 s4 m4 hide-on-small-only" style="height: 140px;">
            <div class="line brown lighten-2"></div>
        </div>
    </div>

    <!--  ПРОЕКТЫ CARDS !-->
    <section>
        <div class="container">
            <div class="row">
                <% for (var i = 0; i < projects.length; i++) { %>
                <div id="<%= i + 1 %>" class="col s12 m4 l4">
                    <div class="card waves-light waves-effect waves-block" onclick="more(<%= projects[i].id %>, <%= i %>, <%= projects.length %>)">
                        <div class="card-image">
                            <img src="/images/uploaded_files/<%= projects[i].mini_name %>" class="responsive-img"/>
                            <span class="card-title"><%= projects[i].name %></span>
                        </div>
                        <ul class="card-action-buttons">
                            <li><a class="btn-floating waves-effect waves-light brown lighten-2"><i class="material-icons">more_horiz</i></a></li>
                        </ul>
                        <div class="card-content">
                            <% if(projects[i].type == 'design') { %>
                                <div><b>Площадь: </b> <%= projects[i].space %> </div>
                                <div><b>Количество комнат: </b> <%= projects[i].number_room %> </div>
                            <% } else if (projects[i].type == 'projects') { %>
                                <div><b>Площадь: </b> <%= projects[i].space %> </div>
                                <div><b>Количество комнат: </b> <%= projects[i].number_room %> </div>
                                <div><b>Материал изделий: </b> <%= projects[i].material %> </div>
                            <% } %>
                            <div><b>Цена: </b> <%= projects[i].price %> руб.</div>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="col s12 l12 m12 center-align">
                    <a class="waves-effect waves-light btn brown lighten-2">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
</main>



<!-- footer !-->


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>

<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
        $(".bottom").on("click", "a", function (event) {
            event.preventDefault();
            var id = $(this).attr('href'), top = $(id).offset().top;
            $('body,html').animate({scrollTop: top}, 400);
        });
    });

    function more(project, i, length) {
        $('#moreinfo').remove();
        var row;
        var offset;
        if ((i + 1) % 3 == 0) {
            row = i + 1;
            offset = 10;
        }
        else {
            row = Math.min(length, ((i + 1) + (3 - ((i + 1) % 3))));
            if (3 - (i + 1) % 3 == 1) {
                offset = 6;
            }
            else {
                offset = 2;
            }
        }

        $.ajax({
            type: "GET",
            url: '/get_project_information/',
            data: "id=" + project,
            success: function (data) {
                var miniPhoto = '<div id="mini"> </a> <div class="popup-gallery">'
                for (var i = 0; i < data.length; i++) {
                    miniPhoto += '<div class="divMiniPhoto"> <a href="images/uploaded_files/' + data[i].image_name + '"> <img src="images/uploaded_files/' + data[i].mini_name + '" style="height: 100px;" class="responsive-img mini_photo"/> </a> </div>'
                }
                miniPhoto += '</div>';
                $("#" + row).after('<div class="col s12 ' + row + '" id="moreinfo" style="clear: both; height: 400px; display: none;"> ' +
                        '<div class="col s1 offset-l' + offset + ' offset-m' + offset + ' triangle"> </div>  ' +
                        '<div id="infoDiv" class="z-depth-1" style="position: absolute; left: 0; right: 0px;"> ' +
                        '<div id="infomainimg"> ' +
                        '<div class="container">' +
                        miniPhoto +
                        '</div> ' +
                        '</div> ' +
                        '</div> ' +
                        '</div>');

                $("#moreinfo").fadeIn();

                var loadPhoto = 0;
                $(".mini_photo").load(function () {
                    loadPhoto++;
                    if (loadPhoto == data.length) {
                        var height = $("#infoDiv").height();
                        $('#moreinfo').css("height", height + 20 + 'px');
                        var top = $("#mini").offset().top;
                        //if (($(window).scrollTop() < top + height) || ($(window).scrollTop() > top + height) ){
                        $('body,html').animate({scrollTop: top}, 200);
                        //}


                    }
                });
                $('.popup-gallery').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    tLoading: 'Загрузка изображения #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                    },
                    image: {
                        tError: '<a href="%url%">Изображение #%curr%</a> не может быть загружено.',
                    }
                });
            }
        });
    }

    window.onscroll = function () {
        var height = $(window).height();
        if (height < $(window).scrollTop()) {
            $('nav').css('position', 'fixed');
            $('nav').css('background', 'rgba(255,255,255,1)');
            $('nav ul li a ').css('color', 'black');
            $('nav ul li a:hover, nav ul li a.activeCustom').css('border-bottom', 'transparent');
            $("nav").addClass("z-depth-1");
            $("nav").removeClass("z-depth-0");
        } else if (height > $(window).scrollTop()) {
            $('nav').css('position', 'absolute');
            $('nav').css('background', 'transparent');
            $('nav ul li a ').css('color', 'white');
            $("nav").removeClass("z-depth-1");
            $("nav").addClass("z-depth-0");
        }
    };
    $(window).resize(function () {
        var height = $("#infoDiv").height();
        $('#moreinfo').css("height", height + 'px');
        var heightMini = $("#divMainPhoto").outerHeight();
        $("#mini").css("height", heightMini + "px");
    });

</script>
</body>
</html>
