<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="ru" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel='stylesheet' href='/css/user/style.css'/>
    <link rel="stylesheet" href="css/magnific-popup.css"/>
</head>

<body>
<header>

    <!-- navigation -->
    <%- include ../template/navigation.ejs %>

    <!-- Блок с картинкой и svg анимацией !-->
    <div class="logoAndMainTextSection valign-wrapper">
        <div class="logoAndMainText">
            <div class="container">
                <div class="row">
                    <div class="col l12 m12 s12 hide-on-med-and-down valign-wrapper">
                        <div style="width: 340px; margin: 0 auto">
                            <img src="/images/design/ArtObject.png" class="valign" style="width: 300px; height: 100px; margin: 0 auto; position: relative; z-index: 50;">
                       <!--     <svg style="position: relative; z-index: 500" width="331px" height="132px" viewBox="0 0 331 132" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch
                                <title>Group</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="ArtObject" sketch:type="MSLayerGroup" transform="translate(-110.000000, -146.000000)" fill="#000000">
                                        <g transform="translate(110.000000, 146.000000)" id="Group" sketch:type="MSShapeGroup">
                                            <g>
                                                <path class="path" stroke="#fff" fill="transparent" d="M37.7867581,13.7563513 C34.1678698,11.2188258 28.5291368,10.3385029 21.7634784,19.9186117 C11.8838928,33.9045572 4.61327319,52.0831198 1.59376968,65.1992979 C-1.04393393,76.6540512 -1.04393393,83.6903012 6.54485226,87.4058128 C10.496276,89.3395677 15.3570403,86.2404932 18.8856103,82.6115362 C23.3789436,77.9903687 28.941727,68.0682639 32.5708788,60.9982365 C33.5972226,58.9969269 35.0648943,54.9119752 34.0631827,58.3319347 C33.667014,59.6830299 32.6817239,64.1289772 32.398453,65.1971868 C31.5527457,68.3912601 29.9639655,74.7582958 29.3399484,78.4358079 C28.8801464,81.1485535 27.5233199,83.6903012 31.6286952,86.2531598 C33.1312625,87.1883709 36.8548379,89.0799041 39.7676016,85.8647199 C43.1073244,82.1766525 43.6779716,81.2878852 47.6991866,75.8539495 C49.2222809,73.7956406 47.2085943,73.4979774 46.2540946,74.4542994 C42.4114633,78.3049205 38.726889,82.8099783 36.8774174,82.9957539 C35.7669134,83.1076414 35.4774845,82.7234238 35.4220619,81.1379981 C35.3337963,78.6025837 40.1822445,51.4899046 47.4610749,35.9122001 C47.7853995,35.2239861 47.7751361,34.7405474 47.7505038,34.5927713 C47.5431824,33.3071199 46.8267944,32.3254648 45.5972345,31.6478062 C44.3676746,30.9701475 42.4258321,30.735817 41.9906623,30.7231505 C40.3095112,30.6724844 39.449435,32.3106872 39.0265814,33.4443405 C36.0748166,41.3609134 34.5989342,46.7040724 30.6865115,55.0175295 C25.3679979,66.3139514 16.3176981,81.406106 10.8431802,80.5278942 C9.63619984,80.3357854 7.59172295,78.5033626 9.48019558,69.6621339 C12.1507422,57.1539487 17.9454794,38.261839 25.1339915,26.7627529 C28.5968755,21.2211518 33.9441268,15.6457734 37.9653419,17.7230821 C40.7344175,19.1543985 41.565756,19.6251707 42.7768417,20.0072773 C43.4644921,20.2247192 44.5626799,19.0889549 43.4829662,18.160077 C42.0419795,16.9208694 39.3529587,14.8625605 37.7867581,13.7563513 Z M81.8151287,46.3270414 C80.5769402,44.1277917 79.6467381,42.5806452 77.6136119,42.5806452 C75.886391,42.5806452 74.5420721,43.2540588 73.4745247,44.5071197 C68.9899934,49.7708278 62.8739667,57.9967035 58.3061958,63.5566283 C57.1907857,64.9141109 55.2055222,67.2902383 53.6177276,69.4830948 C52.1048486,71.5715296 54.0797072,72.2790401 55.627963,70.712714 C60.6223366,65.6557184 66.1452814,59.654665 71.8347054,53.6514805 C72.7212067,52.7138159 73.5182255,51.9871259 74.6981463,51.8635246 C75.5742426,51.7718892 76.0195743,52.3920265 76.2796979,53.3701812 C76.6313851,54.6956979 73.8116449,59.8336737 73.2019152,61.0568998 C72.9605204,61.5406495 68.1534358,72.5390289 67.3543361,74.486814 C64.528353,81.3829109 64.9424698,83.2007016 68.8235143,85.6663333 C72.0407233,87.7100159 74.0925785,89.2614246 77.9881899,86.5443283 C79.667548,85.3722475 81.9108542,83.1964395 83.8565789,81.0888252 C86.5140019,78.2097687 92.9047191,71.9444643 91.4688367,70.7681215 C90.7404905,70.1714258 89.7686687,70.7851699 89.1610199,71.4074383 C86.6451042,73.9924091 85.161359,75.2731737 84.5661961,75.8293792 C80.7038805,79.4393879 77.8903834,81.6002786 75.6033765,82.7105587 C74.750171,83.1239836 72.3736815,82.53155 73.3933662,79.1346469 C74.9645129,73.9007737 80.6809897,62.0094818 84.4434178,55.6845079 C84.967827,54.8065128 85.1218202,53.7772128 84.8242388,52.8757762 C84.2519668,51.1389656 82.709954,47.9082849 81.8151287,46.3270414 Z M115.522921,18.4516129 C114.173352,18.4516129 112.906706,19.4145418 111.727128,21.338288 C109.666495,24.7085393 106.832607,32.080436 103.223391,43.45609 C102.17649,44.1064893 101.09642,44.6217408 99.9831806,45.0018443 C98.1609511,45.5867814 96.9108893,45.9626615 96.2371412,46.1358198 C95.5633931,46.3089781 95.2254825,46.7883309 95.2254825,47.5802132 C95.2254825,48.3024099 95.5447354,48.7141887 96.1873875,48.8176614 C97.6385372,49.0562819 99.2576057,49.3012375 101.046666,49.5398581 C97.4022071,62.4992767 94.9559833,73.4082479 93.7079945,82.2752185 C93.6395831,82.5856364 93.606414,82.8622673 93.606414,83.1008879 C93.606414,84.6466422 94.3465004,85.6180179 96.0961723,86.5809468 C97.7815791,87.5100888 99.1912674,88 99.9334269,88 C100.675586,88 101.604322,87.4678551 102.717561,86.3993418 C105.350362,83.8230846 108.032915,80.6956772 110.765223,77.0171197 C111.171545,76.4680813 111.322879,75.9845052 111.221299,75.5727263 C111.119718,75.1968462 110.848146,75.0067944 110.410728,75.0067944 C109.904899,75.0067944 109.380412,75.2834253 108.841413,75.8324637 C104.253707,80.3366905 101.502742,82.5835247 100.592663,82.5835247 C100.018423,82.5835247 99.732339,82.002811 99.732339,80.8308251 C99.732339,80.4866203 99.7468505,80.0917349 99.7820927,79.6461691 C100.656929,71.29445 103.12181,61.0865586 107.170518,49.0224949 C113.918364,48.5072435 117.647819,48.1989373 118.356809,48.0954647 C119.233718,47.9223064 119.673209,47.4598471 119.673209,46.7017517 C119.673209,45.6057866 119.098969,45.1053169 117.95256,45.2087896 C114.612843,45.5192074 111.946874,45.5888931 109.956725,45.4157348 C109.179324,45.3840595 108.741906,45.2425765 108.640325,45.003956 C108.571914,44.8666964 108.673494,44.4169072 108.942994,43.6630352 C111.810051,35.1381578 114.055187,29.6076514 115.674255,27.0630695 C117.496485,24.212293 119.047142,22.7847931 120.330373,22.7847931 C120.465123,22.7847931 120.674503,22.812245 120.96266,22.8629255 C121.248743,22.9157177 121.460197,22.9410579 121.594946,22.9410579 C122.235525,22.9410579 122.556851,22.7193308 122.556851,22.2716534 C122.556851,21.6191423 122.084191,21.0342052 121.138871,20.5189538 C118.673989,19.144246 116.802006,18.4558363 115.522921,18.4516129 Z M168.335061,12.1497241 C166.709456,12.4382679 165.050718,13.9361496 163.899334,14.8930117 C162.023158,16.4524212 160.68954,17.6660024 158.05958,20.6002382 C154.824937,18.3894836 152.903203,17.112253 152.296448,16.7664247 C150.813731,15.9368613 149.34758,15.5231405 147.897996,15.5231405 C146.448412,15.5231405 144.864223,16.3336091 143.145431,17.9566679 C139.032753,21.8265493 134.768905,28.352731 130.353886,37.5373345 C124.857891,48.966639 121.944227,59.6894355 121.606681,69.7014808 C121.436873,74.9504318 122.718719,78.1031971 125.719359,80.5367245 C128.82561,83.0551178 133.899155,86.2015181 137.498265,87.387518 C139.041037,87.8945912 142.857585,88.051593 144.611581,87.985822 C153.710828,87.6039258 162.019016,79.0940056 169.536145,62.4475747 C175.299277,49.7771076 178.788633,38.0528944 180.002142,27.2791784 C180.306555,24.5846885 180.457726,22.6348963 180.457726,21.4255583 C180.457726,19.3187643 179.952442,17.5917449 178.738933,16.6200312 C176.17524,14.5641567 171.863763,11.515352 168.335061,12.1497241 Z M161.866238,62.0750485 C155.203964,75.7257592 148.474145,82.9332495 141.67883,83.6911506 C139.711872,83.8992018 137.714213,83.4682385 135.681759,82.3940146 C133.117141,81.0459273 131.334394,79.5938144 130.335565,78.0397988 C129.201648,76.2458874 128.552818,73.6049101 128.387029,70.112621 C127.987906,61.5421825 130.568898,51.5727055 136.132051,40.2041899 C140.79462,30.599864 144.976195,24.3965395 148.67473,21.5984623 C149.307185,21.0804571 150.039933,20.8214545 150.872973,20.8214545 C152.238177,20.8214545 153.787591,21.4944367 155.521215,22.842524 C152.487884,26.2987226 149.524144,30.376952 146.625901,35.0750893 C146.126486,35.8351133 145.876779,36.4932346 145.876779,37.0452074 C145.876779,37.6332706 146.159235,37.8901503 146.726193,37.8200922 C147.3259,37.7861246 148.007479,37.3870059 148.775022,36.6291048 C155.570338,29.9608494 161.366824,24.9145447 166.16448,21.4944367 C168.297227,19.9382981 169.895763,19.1612903 170.962137,19.1612903 C172.292545,19.1612903 172.875878,20.4563033 172.710088,23.0484523 C171.811551,36.0771321 168.196934,49.0845822 161.866238,62.0750485 Z M212.451284,1.7109637 C211.020857,0.571028826 209.841777,0 208.909956,0 C208.012874,0 207.081054,0.467012423 206.116538,1.39891449 C202.456689,4.88877096 198.332974,12.4543722 193.743348,24.097841 C187.657905,39.5771801 182.66776,58.3213605 178.777,80.3282596 C178.611479,81.1243035 178.527697,81.7951031 178.527697,82.3470269 C178.527697,83.45512 178.858738,84.3551803 179.524908,85.0429622 C179.757864,85.2509951 180.72238,85.9430226 182.418457,87.116922 C182.851672,87.4289712 183.201105,87.5860572 183.466755,87.5860572 C184.032795,87.5860572 184.498706,86.949222 184.864486,85.6670607 C186.893648,78.9675552 190.13663,72.0048245 194.59343,64.7831142 C198.817275,58.0135569 203.180076,52.0315523 207.271096,48.3697503 C208.102787,47.6437583 208.850696,47.2786395 209.516866,47.2786395 C210.679598,47.2786395 211.261986,48.1786998 211.261986,49.9745748 C211.261986,54.6043662 209.992993,60.6203353 207.863701,66.4919551 C206.00006,71.7118804 203.921855,75.8406947 201.627042,78.880521 C200.362136,80.5384151 199.048187,81.3684236 197.685195,81.3684236 C196.287464,81.3684236 194.607734,80.5044506 192.646007,78.7765046 C192.112662,78.2903872 191.562969,78.0505126 190.998973,78.0505126 C190.432932,78.0505126 190.150934,78.3073694 190.150934,78.8253287 C190.150934,79.2392715 190.365498,79.7423712 190.798713,80.3303823 C194.624082,85.4420456 197.61776,88 199.779748,88 C200.844394,88 201.876345,87.499023 202.873556,86.4949463 C206.433275,82.9031962 209.508692,77.9464962 212.103894,71.6227234 C214.764488,65.1630925 216.583173,57.816138 217.149213,51.1123869 C217.414864,48.176577 216.282783,45.5315885 213.323844,44.0796044 C211.758548,43.1137378 210.612164,42.6276203 209.880603,42.6276203 C208.450176,42.6276203 206.837881,43.4724882 205.041674,45.1643469 C201.316435,48.6542034 197.303067,54.2074056 193.845521,59.3891207 C192.149444,61.908865 189.57059,66.2138705 186.113044,72.2914003 C190.13663,47.7626342 196.63894,27.9485707 205.619975,12.84921 C208.147743,8.59939694 210.442556,6.47449041 212.504414,6.47449041 C213.26867,6.47449041 214.417098,6.88843324 215.947655,7.71844168 C216.28074,7.92435171 216.597477,8.02836811 216.895823,8.02836811 C217.694819,8.02836811 218.093294,7.68447714 218.093294,6.99244964 C218.093294,6.61459414 217.893035,6.2664576 217.494559,5.95653118 C215.798482,4.54063442 214.118752,3.12473767 212.451284,1.7109637 Z M234.597998,44.7513777 C232.759542,43.3049286 231.39096,42.5806452 230.490199,42.5806452 C229.620216,42.5806452 229.187276,43.2392772 229.187276,44.5459523 C229.187276,44.7196109 228.918484,45.1664641 228.385004,45.8907475 C224.978937,50.2343303 222.126869,54.3576632 220.657746,56.1493117 C220.356125,56.5622803 220.20634,56.9964268 220.20634,57.44328 C220.20634,58.2374505 220.538739,58.631359 221.207641,58.631359 C221.57287,58.631359 221.991447,58.4005201 222.459268,57.9367246 C222.925038,57.4708113 223.868887,56.3949751 225.288766,54.7028626 C226.706592,53.0149857 227.933597,51.6384236 228.96978,50.566823 C228.235219,55.1158312 227.416532,59.459414 226.515771,63.5954536 C217.331702,105.373054 205.843408,126.260795 192.05089,126.260795 C187.711232,126.260795 182.817576,123.865577 177.374025,119.075141 C176.939034,118.693939 176.506094,118.503338 176.071102,118.503338 C175.13546,118.503338 174.667638,119.003136 174.667638,120.00485 C174.667638,120.657128 174.985675,121.294583 175.619696,121.915094 C182.567251,128.636953 188.962859,132 194.806521,132 C205.059602,132 214.143131,121.349645 222.057106,100.046817 C226.130023,89.0851478 230.488147,72.5579317 235.131478,50.4609336 C235.599299,48.1843117 235.695736,45.5794327 234.597998,44.7513777 Z M240.136577,26.2580645 C239.75666,26.2580645 239.204825,26.7102302 238.47895,27.6124288 C235.95749,30.7370646 233.902966,32.733419 232.313257,33.6014919 C231.967299,33.5332404 231.744443,33.5673662 231.640443,33.7060019 C231.572525,33.8467705 231.597995,34.0280633 231.718974,34.2541462 C231.839953,34.480229 232.003381,34.6956476 232.21138,34.9046676 C232.833256,35.3909591 233.714069,35.7706077 234.85382,36.0500119 C236.649406,36.4659191 238.568093,35.9774948 240.605637,34.5911376 C243.611014,32.4753433 245.113703,30.9119589 245.113703,29.9052503 C245.113703,29.3848332 244.818683,28.9156046 244.232889,28.4996974 C242.125305,27.0066974 240.762697,26.2601974 240.136577,26.2580645 Z M260.799189,44.0799197 C258.418612,42.9422473 257.072977,42.5806452 256.493578,42.5806452 C255.229815,42.5806452 253.812805,43.5470323 252.240449,45.4713479 C249.813688,48.3641654 247.080433,53.253196 244.040684,60.1342105 C243.459185,59.8233595 242.89448,59.671106 242.348669,59.671106 C241.630717,59.671106 241.271742,59.9100595 241.271742,60.3943103 C241.271742,60.9800636 241.901524,61.5996509 243.167386,62.2530724 C241.288536,67.9646951 240.041567,73.1793791 239.42648,77.8928952 C239.357204,78.3073632 239.323615,78.7027995 239.323615,79.0834334 C239.323615,81.1155953 240.58108,82.8982306 242.938565,84.4715173 C245.699111,86.3154769 247.661932,87.2903226 249.267876,87.2903226 C252.651906,87.2903226 258.494186,81.9424167 266.796815,71.2360318 C267.136897,70.8215638 267.309038,70.4261275 267.309038,70.0454936 C267.309038,69.4259062 266.98365,69.1171699 266.334975,69.1171699 C265.889929,69.1171699 265.444883,69.3434356 265.001936,69.789623 C257.929481,76.9857178 252.41049,81.2847659 248.44706,82.6973405 C247.796285,82.9024599 247.267268,83.0060769 246.85791,83.0060769 C245.764188,83.0060769 245.199483,82.1094727 245.165895,80.3204935 C245.098718,77.2923396 245.541665,73.8137689 246.498934,69.8911254 C247.216886,66.7931886 247.865561,64.7123901 248.44706,63.642386 C251.692538,64.4015391 254.016434,64.7779437 255.41665,64.7779437 C258.082728,64.7779437 260.473802,64.0039882 262.591969,62.4560771 C264.913766,60.7707149 266.076764,57.7933122 266.076764,53.5217543 C266.076764,52.902167 266.152338,49.6054547 265.482669,47.9074047 C264.764718,46.0888207 262.671741,44.9722947 260.799189,44.0799197 Z M259.330324,60.5078329 C258.095707,61.975816 256.035327,62.5442054 253.380799,62.439502 C251.741357,62.3369355 250.593344,62.2322322 249.938776,62.1275289 C252.3637,55.2406157 255.18338,50.4242637 258.395802,47.6741993 C259.084609,47.1186308 259.608264,46.8387097 259.96878,46.8387097 C260.526674,46.8387097 260.955668,48.0032668 261.167144,49.0716679 C261.797544,52.2405455 261.79553,57.5718668 259.330324,60.5078329 Z M290.395838,58.9459931 C290.309479,59.6264761 291.331394,60.5092079 293.206617,61.5710143 C294.477327,62.2915257 295.414939,61.9839389 296.017395,60.6461472 C297.456711,57.3869918 297.746631,56.6011708 298.176369,51.0393283 C298.324413,49.1242848 297.214084,47.4494117 295.196985,46.2106377 C293.105865,44.925515 289.908527,42.6523225 287.599453,42.5849062 C284.198555,42.4858886 283.084113,44.131267 281.813402,45.5722899 C279.068421,48.7282142 276.442698,53.8033955 273.932119,60.7978339 C271.58809,67.2466218 270.350278,72.2859882 270.216628,75.9201467 C270.082977,79.076071 271.030869,81.1722958 272.404388,82.9693608 C273.603133,84.5367892 275.262458,85.122468 278.188382,86.1316054 C280.030707,86.7678465 283.199258,87.2903226 284.27052,87.2903226 C286.044991,87.2903226 287.282803,86.8626506 287.986012,86.0030931 C290.864644,82.6091051 293.190167,78.6821072 294.964638,74.2263128 C295.131188,73.8154949 295.215491,73.4742 295.215491,73.1982147 C295.215491,72.6504574 294.997537,72.3744721 294.563686,72.3744721 C294.127779,72.3744721 293.642524,72.6989129 293.107921,73.3499013 C287.620014,80.5866169 283.452166,84.2376294 280.608489,84.3071525 C277.361804,84.4103836 275.739489,81.8380315 275.739489,76.5922027 C275.739489,75.0163473 275.924544,73.2677377 276.292597,71.3463739 C276.759347,68.6728973 277.696959,65.4664108 279.103376,61.7269144 C280.809994,57.1994903 282.278096,53.6074669 283.826389,50.8223321 C284.646799,49.3497079 286.269114,47.3651414 290.348546,47.9950622 C291.773469,48.2162718 292.743979,48.7703493 292.608272,50.3082831 C292.203208,54.9052302 290.677533,56.7338966 290.395838,58.9459931 Z M329.582019,20.5210026 C327.117138,19.1463366 325.245155,18.4579478 323.96607,18.4516129 C322.616501,18.4516129 321.349854,19.4145126 320.170277,21.3382004 C318.109644,24.7083493 315.275756,32.0800223 311.666539,43.4553308 C310.619638,44.1057104 309.539568,44.6209462 308.426329,45.0010382 C306.6041,45.5859575 305.354038,45.9618263 304.68029,46.1349793 C304.006542,46.3081323 303.668631,46.7874705 303.668631,47.5793288 C303.668631,48.3015036 303.987884,48.7132699 304.630536,48.8167394 C306.081686,49.0553527 307.700754,49.3003009 309.489815,49.5389142 C305.845356,62.4979393 303.399132,73.4065793 302.151143,82.2732807 C302.082732,82.5836892 302.049563,82.8603117 302.049563,83.098925 C302.049563,84.646744 303.339013,85.658211 304.682363,86.4817437 C306.353258,87.5058804 307.634416,88 308.376576,88 C309.118735,88 310.047471,87.4678712 311.16071,86.3993904 C313.79351,83.8232114 316.476064,80.695899 319.208372,77.0174532 C319.614694,76.4684314 319.766028,75.98487 319.664447,75.5731037 C319.562867,75.1972349 319.291295,75.0071889 318.853877,75.0071889 C318.348047,75.0071889 317.82356,75.2838114 317.284562,75.8328332 C312.696856,80.3369232 309.94589,82.5836892 309.035812,82.5836892 C308.461571,82.5836892 308.175488,82.0029931 308.175488,80.8310428 C308.175488,80.4868484 308.189999,80.0919751 308.225241,79.6464228 C309.100077,71.2949572 311.564959,61.0873757 315.613667,49.0236784 C322.361513,48.5084426 326.090968,48.2001457 326.799958,48.0966763 C327.676867,47.9235232 328.116358,47.461078 328.116358,46.7030056 C328.116358,45.6070737 327.542117,45.1066193 326.395709,45.2100888 C323.055992,45.5204972 320.390022,45.5901808 318.399874,45.4170277 C317.622472,45.3853534 317.185054,45.2438747 317.083474,45.0052614 C317.015063,44.868006 317.116643,44.4182305 317.386142,43.6643814 C320.2532,35.1397627 322.498336,29.6094243 324.117404,27.0649196 C325.939634,24.2142297 327.490291,22.7867732 328.773522,22.7867732 C328.908271,22.7867732 329.117651,22.8142243 329.405808,22.8649032 C329.691892,22.9176937 329.903345,22.9430332 330.038095,22.9430332 C330.678674,22.9430332 331,22.7213129 331,22.273649 C331,21.6211577 330.52734,21.0362384 329.582019,20.5210026 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 m12 s12 hide-on-med-and-down valign-wrapper">
                        <div class="valign mainTextAboutArtObject"> Тут какой то текст о фирме, надо придумать
                            jsakdjsakdjkas ja
                            sajkdksadjaskdj a
                            skadjsakdjaksdjskadjska khghhkhdjask jksdjkasjdsakjdkasdjks sjdkj ksjda
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Основная картинка-фон  *******  Переделать на background в css ******** !-->
        <div class="mainBackground">
           <!-- <img src="/images/main.jpg"> !-->
        </div>

    </div>

    <!-- стрелка для скрола вниз !-->
    <div class="scrollBottomArrow">
        <a href="#scrollBottom" class="waves-effect waves-light">
            <img src="/images/bottom.svg">
        </a>
    </div>


</header>


<main class="grey lighten-3 row">
    <!-- Заголовок  !-->
    <div id="scrollBottom" class="row padding-20">
        <div class="col l4 s4 m4 hide-on-small-only" style="height: 140px;">
            <div class="line brown lighten-2 right"></div>
        </div>
        <div class="col l4 m4 s12 projectsTitle">
            <h1 class="center-align ">Наши работы</h1>
        </div>
        <div class="col l4 s4 m4 hide-on-small-only" style="height: 140px;">
            <div class="line brown lighten-2"></div>
        </div>
    </div>

    <!--  ПРОЕКТЫ CARDS !-->
    <section>
        <div class="container">
            <div class="row">
                <% for (var i = 0; i < projects.length; i++) { %>
                <div id="<%= i + 1 %>" class="col s12 m4 l4">
                    <div class="card waves-light waves-effect waves-block" onclick="moreInfo(<%= projects[i].id %>, <%= i %>, <%= projects.length %>)">
                        <div class="card-image">
                            <img src="/images/uploaded_files/<%= projects[i].mini_name %>" class="responsive-img"/>
                            <span class="card-title"><%= projects[i].name %></span>
                        </div>
                        <ul class="card-action-buttons">
                            <li><a onclick="moreInfo(<%= projects[i].id %>, <%= i %>, <%= projects.length %>)" class="btn-floating waves-effect waves-light brown lighten-2"><i class="material-icons">more_horiz</i></a></li>
                        </ul>
                        <div class="card-content">
                            <% if(projects[i].type == 'design') { %>
                                <div><b>Площадь: </b> <%= projects[i].space %> </div>
                                <div><b>Количество комнат: </b> <%= projects[i].number_room %> </div>
                            <% } else if (projects[i].type == 'projects') { %>
                                <div><b>Площадь: </b> <%= projects[i].space %> </div>
                                <div><b>Количество комнат: </b> <%= projects[i].number_room %> </div>
                                <div><b>Материал изделий: </b> <%= projects[i].material %> </div>
                            <% } %>
                            <div><b>Цена: </b> <%= projects[i].price %> руб.</div>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="col s12 l12 m12 center-align">
                    <a class="waves-effect waves-light btn brown lighten-2">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
</main>


<footer class="page-footer">
        <div class="container margin-60">
            <div class="row">
                <div class="col l6 s6">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text" class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Textarea</label>
                                </div>
                            </div>
                            <div class="col s12 l12 m12 center-align">
                                <a class="waves-effect waves-light btn-submit brown lighten-2">Отправить</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col l6 s6 right-align">
                    <h5 class="white-text">Ссылки</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">+7 (911) 779-91-73</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">kantand150@gmail.com</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">ул. Наличная, д. 20</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
</footer>

<!-- footer !-->


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/user_js/index.js"></script>
<script src="js/user_js/template_project.js"></script>

</body>
</html>
