<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="ru" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel='stylesheet' href='/css/user/style.css'/>
    <link rel="stylesheet" href="css/magnific-popup.css"/>
</head>

<body>
<header>

    <!-- navigation -->
    <%- include ../template/navigation.ejs %>

    <!-- Блок с картинкой и svg анимацией !-->
    <div class="logoAndMainTextSection valign-wrapper">
        <div class="logoAndMainText">
            <div class="container">
                <div class="row">
                    <div class="col l12 m12 s12 hide-on-med-and-down valign-wrapper">
                        <div style="width: 340px; margin: 0 auto">
                            <img src="/images/design/ArtObject.png" class="valign" style="width: 300px; height: 100px; margin: 0 auto; position: relative; z-index: 50;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 m12 s12 hide-on-med-and-down valign-wrapper">
                        <div class="valign mainTextAboutArtObject"> Любое строительство, как известно, начинается с проектирования, именно в этой области специализируется наша компания. Мы готовы помочь Вам приобрести готовый проект или заказать индивидуальное проектирование дома любого типа: кирпичного, деревянного, каркасного. При желании есть возможность корректировки готового проекта.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Основная картинка-фон  *******  Переделать на background в css ******** !-->
        <div class="mainBackground">
           <!-- <img src="/images/main.jpg"> !-->
        </div>

    </div>

    <!-- стрелка для скрола вниз !-->
    <div class="scrollBottomArrow">
        <a href="#scrollBottom" class="waves-effect waves-light">
            <img src="/images/bottom.svg">
        </a>
    </div>


</header>


<main class="grey lighten-3 row">
    <!-- Заголовок  !-->
    <div id="scrollBottom" class="row padding-20">
        <div class="col l4 s4 m4 hide-on-small-only" style="height: 140px;">
            <div class="line  brown lighten-2 right"></div>
        </div>
        <div class="col l4 m4 s12 projectsTitle">
            <h1 class="center-align ">Наши работы</h1>
        </div>
        <div class="col l4 s4 m4 hide-on-small-only" style="height: 140px;">
            <div class="line  brown lighten-2"></div>
        </div>
    </div>

    <!--  ПРОЕКТЫ CARDS !-->
    <section>
        <div class="container">
            <div class="row">
                <% for (var i = 0; i < projects.length; i++) { %>
                <div id="<%= i + 1 %>" class="col s12 m4 l4">
                    <div id="<%=projects[i].id%>card" class="z-depth-1 card waves-light waves-effect waves-block" onclick="moreInfo(<%= projects[i].id %>, <%= i %>, <%= projects.length %>)">
                        <div class="card-image">
                            <img src="/images/uploaded_files/<%= projects[i].mini_name %>" class="responsive-img"/>
                            <span class="card-title"><%= projects[i].name %></span>
                        </div>
                        <ul class="card-action-buttons">
                            <li><a onclick="moreInfo(<%= projects[i].id %>, <%= i %>, <%= projects.length %>)" class="btn-floating waves-effect waves-light  myBlue"><i class="material-icons">more_horiz</i></a></li>
                        </ul>
                        <div class="card-content">
                            <% if(projects[i].type == 'design') { %>
                                <div><b>Площадь: </b> <%= projects[i].space %> </div>
                                <div><b>Количество комнат: </b> <%= projects[i].number_room %> </div>
                            <% } else if (projects[i].type == 'projects') { %>
                                <div><b>Площадь: </b> <%= projects[i].space %> </div>
                                <div><b>Количество комнат: </b> <%= projects[i].number_room %> </div>
                                <div><b>Материал изделий: </b> <%= projects[i].material %> </div>
                            <% } %>
                            <div><b>Цена: </b> <%= projects[i].price %> руб.</div>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="col s12 l12 m12 center-align">
                    <a class="waves-effect waves-light btn  brown lighten-2">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
</main>
    
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Заявка на проект:</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<footer class="page-footer">
        <div class="container margin-60">
            <div class="row">
                <div class="col l6 s6">
                    <div class="row">
                        <form class="col s12" method="POST" action="/sendEmail">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" name="name" type="text" class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="email" name="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" name="message" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Textarea</label>
                                </div>
                            </div>
                            <div class="col s12 l12 m12 center-align">
                                <button type="submit" class="waves-effect waves-light btn-submit  brown lighten-2">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col l6 s6 right-align">
                    <h5 class="white-text">Ссылки</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">+7 (911) 779-91-73</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">kantand150@gmail.com</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">ул. Наличная, д. 20</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
</footer>

<!-- footer !-->


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/user_js/index.js"></script>
<script src="js/user_js/template_project.js"></script>

</body>
</html>
