<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/css/admin/projects.css' />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<%- include ../template/navigation_admin.ejs %>

<body>
    <main>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#test1">Интерьеры</a></li>
                    <li class="tab col s3"><a href="#test2">Проекты</a></li>
                </ul>
            </div>
            <div id="test2" class="col s12">
                <div class="row project_place">
                    <% var start = 0, count = projects.length > 12 ? 12 : projects.length ;
                    for (var i = start; i < count; i++) { %>

                    <div class="col s12 m6 l4">
                        <div class="card medium">
                            <div class="card-image">
                                <img src="/images/parallax1.jpg">
                                <span class="card-title"><%= projects[i].name %></span>
                            </div>
                            <div class="card-content">
                                <div> <b>Маркировка: </b> <%= projects[i].mark %> </div>
                                <div> <b>Цена: </b> <%= projects[i].price %> </div>
                                <div> <b>Площадь: </b> <%= projects[i].space %> </div>
                                <div> <b>Количество комнат: </b> <%= projects[i].number_room %> </div>
                                <div> <b>Материал изделий: </b> <%= projects[i].material %> </div>
                            </div>
                            <div class="card-action">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <a class="waves-effect waves-teal btn-flat" align="center" onclick="loadProjects()">More</a>
            </div>
            <div id="test1" class="col s12">
                <div class="row interiors_place">
                    <% for (var i = start; i < interiors.length; i++) { %>
                    <div class="col s12 m6 l4">
                        <div class="card medium">
                            <div class="card-image">
                                <img src="/images/parallax.jpg">
                                <span class="card-title"><%= interiors[i].name %></span>
                            </div>
                            <div class="card-content">
                                <div> <b>Маркировка: </b> <%= interiors[i].mark %> </div>
                                <div> <b>Цена: </b> <%= interiors[i].price %> </div>
                                <div> <b>Площадь: </b> <%= interiors[i].space %> </div>
                                <div> <b>Количество комнат: </b> <%= interiors[i].number_room %> </div>
                            </div>
                            <div class="card-action">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

                <a class="waves-effect waves-teal btn-flat" onclick="loadInteriors()">More</a>
            </div>
        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modalAdd"><i
                        class="material-icons">add</i></a>
        </div>

        <div id="modalAdd" class="modal">
            <div class="modal-content">
                <h4>Новый проект/интерьер</h4>

                <div class="row">
                    <div class="input-field col s12">
                        <select id="type" onChange="avaliable(this)">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Интерьеры</option>
                            <option value="2">Проекты</option>
                        </select>
                        <label>Выберите тип</label>
                    </div>
                    <div id="material" class="input-field col s12" style="display: none;">
                        <select id="type_material" multiple>
                            <option value="" disabled selected>Choose your option</option>
                            <% for (var i = 0; i < type.length; i++) { %>
                                <option value='<%=type[i].id%>'> <%=type[i].material%> </option>
                            <% } %>
                        </select>
                        <label>Materialize Multiple Select</label>
                    </div>
                    <div class="input-field col s12 l12 m6">
                        <input id="name" name="name" type="text" class="validate">
                        <label for="name">Название проекта</label>
                    </div>
                    <div class="input-field col s12 l6 m6">
                        <input id="mark" name="mark" type="text" class="validate">
                        <label for="mark">Маркировка</label>
                    </div>
                    <div class="input-field col s12 l6 m6">
                        <input id="price" name="price" type="text" class="validate">
                        <label for="price">Цена</label>
                    </div>
                    <div class="input-field col s12 l6 m6">
                        <input id="space" name="space" type="text" class="validate">
                        <label for="space">Площадь</label>
                    </div>
                    <div class="input-field col s12 l6 m6">
                        <input id="number_room" name="number_room" type="text" class="validate">
                        <label for="number_room">Кол-во комнат</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-red btn-flat">Отмена</a>
                    <a id="active" onclick="addProject()" class="modal-action waves-effect waves-green btn-flat">Отправить</a>
                </div>
            </div>
        </div>

    </main>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('ul.tabs').tabs();
            $('.modal-trigger').leanModal();
            $('select').material_select();
        });
    </script>

    <script>
        function avaliable() {
            var type = $("#type").val();
            if (type == 2) {
                $('#material').css("display", 'block');
            } else {
                $('#material').css("display", 'none');
            }
        }

        function addProject() {
            var material = null;
            var type = $("#type").val();
            var name = $('[name="name"]').val();
            var mark = $('[name="mark"]').val();
            var price = $('[name="price"]').val();
            var space = $('[name="space"]').val();
            var number_room = $('[name="number_room"]').val();

            if (type == 2) {
                material = $("#type_material").val();
            }

            $.ajax({
                type: "POST",
                url: '/admin/projects/new_project',
                data: 'type=' + type + '&name=' + name + '&mark=' + mark + '&price=' + price + '&space=' + space + '&number_room=' + number_room + '&material=' + material,
                success: function (data) {
                    if (!data) {
                        Materialize.toast('Неверный пароль', 4000);
                    }
                    else {
                        window.location.replace("/admin");
                    }
                }
            });
        }
    </script>
    <script>
        var loadInteriors = function(){
            $.ajax({
                type:"GET",
                url: '/admin/projects/load_interiors/',
                success: function (interiors) {
                    if (!interiors){ Materialize.toast('Такой пользователь уже существует', 4000);}
                    else {
                        var cardplace = document.getElementById("interiors_place");
                        var newcard = "";  // создать новый тег div
                        for (var i = 0; i < interiors.length; i++){
                            newcard = '<div class="col s12 m6 l4">';
                            newcard += '<div class="card medium">';
                            newcard += '<div class="card-image">';
                            newcard += '<img src="/images/parallax.jpg">';
                            newcard += '<span class="card-title">'+ interiors[i].name +'</span>';
                            newcard += '</div>';
                            newcard += '<div class="card-content">';
                            newcard += '<div> <b>Маркировка: </b>'+ interiors[i].mark +'</div>';
                            newcard += '<div> <b>Цена: </b>'+ interiors[i].price +'</div>';
                            newcard += '<div> <b>Площадь: </b>'+ interiors[i].space + '</div>';
                            newcard += '<div> <b>Количество комнат: </b>'+ interiors[i].number_room +'</div>';
                            newcard += '</div>';
                            newcard += '<div class="card-action">';
                            newcard += '<a href="#">Подробнее</a>';
                            newcard += '</div>';
                            newcard += '</div>';
                            newcard += '</div>';
                            cardplace.innerHTML += newcard;
                        }
                    }
                }
            });
        }
    </script>
    <script>
        var loadProjects = function(){
            $.ajax({
                type:"GET",
                url: '/admin/projects/load_projects/',
                success: function (projects) {
                    if (!projects){ Materialize.toast('Такой пользователь уже существует', 4000);}
                    else {
                        var cardplace = document.getElementById("project_place");
                        var newcard = "";  // создать новый тег div
                        for (var i = 0; i < projects.length; i++){
                            newcard = '<div class="col s12 m6 l4">';
                            newcard += '<div class="card medium">';
                            newcard += '<div class="card-image">';
                            newcard += '<img src="/images/parallax1.jpg">';
                            newcard += '<span class="card-title">'+ projects[i].name +'</span>';
                            newcard += '</div>';
                            newcard += '<div class="card-content">';
                            newcard += '<div> <b>Маркировка: </b>'+ projects[i].mark +'</div>';
                            newcard += '<div> <b>Цена: </b>'+ projects[i].price +'</div>';
                            newcard += '<div> <b>Площадь: </b>'+ projects[i].space + '</div>';
                            newcard += '<div> <b>Количество комнат: </b>'+ projects[i].number_room +'</div>';
                            newcard += '<div> <b>Материал изделий: </b>'+ projects[i].material +'</div>';
                            newcard += '</div>';
                            newcard += '<div class="card-action">';
                            newcard += '<a href="#">Подробнее</a>';
                            newcard += '</div>';
                            newcard += '</div>';
                            newcard += '</div>';
                            cardplace.innerHTML += newcard;
                        }
                    }
                }
            });
        }

    </script>
</body>
</html>