<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/css/admin/projects.css' />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<%- include ../template/navigation_admin.ejs %>

<body>
<main>
    <div class="container padding-top-20">
        <div class="row">
            <!-- ФОРМА РЕДАКТИРОВАТЬ !-->
            <div class="card-panel">
                <div class="input-field col s12">
                    <select id="type" disabled>
                        <% if (type == 'design') { %>
                        <option value="1">Интерьеры</option>
                        <% } else if (type == 'projects'){ %>
                        <option value="2">Проекты</option>
                        <% } else { %>
                        <option value="3">Ландшафты</option>
                        <% } %>
                    </select>
                    <label>Тип</label>
                </div>
                <div class="input-field col s12 l6 m6">
                    <input id="name" name="name" type="text" class="validate" value="<%= project.name %>">
                    <label for="name">Название проекта</label>
                </div>
                <div class="input-field col s12 l6 m6">
                    <input id="mark" name="mark" type="text" class="validate" value="<%= project.mark %>">
                    <label for="mark">Маркировка</label>
                </div>
                <% if (type == 'projects') { %>
                <div class="input-field col s12 l12 m6">
                    <input id="material" name="material" type="text" class="validate" value="<%= project.material %>">
                    <label for="material">Материалы</label>
                </div>
                <% } %>
                <div class="input-field col s12 l4 m6">
                    <input id="price" name="price" type="text" class="validate" value="<%= project.price %>">
                    <label for="price">Цена</label>
                </div>
                <% if (type == 'projects' || type == 'design') { %>
                <div class="input-field col s12 l4 m6">
                    <input id="space" name="space" type="text" class="validate" value="<%= project.space %>">
                    <label for="space">Площадь</label>
                </div>
                <% } %>
                <% if (type == 'projects' || type == 'design') { %>
                <div class="input-field col s12 l4 m6">
                    <input id="number_room" name="number_room" type="text" class="validate" value="<%= project.number_room %>">
                    <label for="number_room">Кол-во комнат</label>
                </div>
                <% } %>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="desc" class="materialize-textarea"><%= project.description %></textarea>
                        <label for="desc">Описание проекта</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12 right-align">
                        <a id="active" onclick="replaceProject(<%= project.id %>)" class="waves-effect waves-green btn-flat">Изменить</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- РАЗДЕЛ ФОТО !-->
        <div class="center margin-50"> <h5 class="light-blue-text accent-2 margin-20">ФОТО </h5> <hr> </div>


        <!-- ЗАГРУЗКА ФОТО !-->
        <div class="row">
            <form action="#">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload</span>
                        <input id="photo_chooser" type="file" multiple onchange="uploadPhoto(<%= project.id %> , 0); $(this).val('')">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </form>

            <!-- ВЫГРУЗКА ФОТО !-->
            <ul class="collection" id="main_photo">
                <% for (var i = 0; i < photos.length; i++) { %>
                    <li class="collection-item s12 m6 l6" id="<%= photos[i].id%>photo">
                        <div class="row padding-top-20">
                            <div class="col s4">
                                <img class="responsive-img" src="/images/uploaded_files/<%= photos[i].image_name %>"/>
                            </div>
                            <div class="input-field col s8">
                                <div>
                                    <select id="image_type<%= photos[i].id %>">
                                        <% for (var j = 0; j < image_types.length; j++) {
                                        if (image_types[j].id == photos[i].type_images_id) { %>
                                        <option value="<%= image_types[j].id %>"><%= image_types[j].type_name %></option>
                                        <% }} %>
                                        <% for (var j = 0; j < image_types.length; j++) {
                                        if (image_types[j].id != photos[i].type_images_id) { %>
                                        <option value="<%= image_types[j].id %>"><%= image_types[j].type_name %></option>
                                        <% }} %>
                                    </select>
                                    <label for="image_type<%= photos[i].id %>">Тип</label>
                                </div>
                            </div>
                            <div class="input-field col l8 m8 s12">
                                <textarea id="photo<%= photos[i].id %>desc" name="photo" class="materialize-textarea active"><%= photos[i].image_description %></textarea>
                                <label for="photo<%= photos[i].id %>desc">Описание фото</label>
                            </div>
                            <div class="col l12 m12 s12 right-align">
                                <a onclick="updatePhotoInfo(<%= photos[i].id %>)" class="waves-effect waves-green btn-flat"> <i class="material-icons">cached</i></a>
                                <a onclick="deletePhoto(<%= photos[i].id %>);" class="waves-effect waves-red btn-flat"> <i class="material-icons red-text">delete</i></a>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

</main>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('ul.tabs').tabs();
        $('.modal-trigger').leanModal();
        $('select').material_select();
    });

    var uploadPhoto = function(project_id, type){
        var files = document.getElementById("photo_chooser").files;
        if (!files) { Materialize.toast('Не выбраны файлы для загрузки', 3000); return; }
        else
        {
            var data = [];
            for (var i = 0; i < files.length; i++){
                data[i] = new FormData();
                data[i].append('uploadFile', files[i]);
                console.log(data);
            }
            var upload = function(index){
                if (index < data.length){
                    $.ajax({
                        type: "POST",
                        url: "/admin/projects/upload_photo/"+project_id ,
                        data: data[index],
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function(res){
                            upload(++index);
                            if (res.status == 'bad'){ Materialize.toast("Ошибка при загрузке", 3000); }
                            else {
                                var selects = document.getElementsByTagName("select");
                                for (var i = 1; i < selects.length; i++){
                                    selects[i].parentNode.parentNode.insertBefore(selects[i], selects[i].parentNode.parentNode.children[1]);
                                    selects[i].parentNode.removeChild(selects[i].parentNode.children[0]);
                                }

                                // генерим HTML для нового блока фотографии
                                var photo_item_html = "";
                                photo_item_html += '<li class="collection-item" id="' + res.photo_id + 'photo">';
                                photo_item_html += '    <div class="row padding-top-20">';
                                photo_item_html += '        <div class="col s4">';
                                photo_item_html += '            <img class="responsive-img" src="/images/uploaded_files/' + res.filename + '"/>';
                                photo_item_html += '        </div>';
                                photo_item_html += '        <div class="input-field col s8">';
                                photo_item_html += '            <div>';
                                photo_item_html += '                <select id="image_type' + res.photo_id + '">';
                                for (var j = 0; j < res.image_types.length; j++) {
                                    photo_item_html += '                <option value="' + res.image_types[j].id + '">' + res.image_types[j].type_name + '</option>';
                                }
                                photo_item_html += '                </select>';
                                photo_item_html += '                <label for="image_type' + res.photo_id + '">Тип</label>';
                                photo_item_html += '            </div>';
                                photo_item_html += '        </div>';
                                photo_item_html += '        <div class="input-field col l8 m8 s12">';
                                photo_item_html += '            <textarea id="photo' + res.photo_id + 'desc" name="photo" class="materialize-textarea active"></textarea>';
                                photo_item_html += '            <label for="photo' + res.photo_id + 'desc">Описание фото</label>';
                                photo_item_html += '        </div>';
                                photo_item_html += '        <div class="col l12 m12 s12 right-align">';
                                photo_item_html += '            <a onclick="updatePhotoInfo(' + res.photo_id + ')" class="waves-effect waves-green btn-flat"> <i class="material-icons">cached</i></a>';
                                photo_item_html += '            <a onclick="deletePhoto(' + res.photo_id + ')" class="waves-effect waves-red btn-flat"> <i class="material-icons red-text">delete</i></a>';
                                photo_item_html += '        </div>';
                                photo_item_html += '    </div>';
                                photo_item_html += '</li>';
                                document.getElementById("main_photo").innerHTML += photo_item_html;
                                // добавляем materialize обработку на селекты
                                $('select').material_select();
                            }
                        }
                    });
                } else {
                    Materialize.toast("фотографии загружены на сервер", 3000);
                }
            }
            upload(0);
        }
    }
    var updatePhotoInfo = function(photo_id){
        var type = $("#image_type" + photo_id).val();
        var description = $("#photo" + photo_id + "desc").val();
        console.log(type);
        $.ajax({
            type: "POST",
            url: '/admin/projects/update_photo/',
            data: 'id='+ photo_id +'&type=' + type + '&description=' + description,
            success: function (data) {
                if (!data) {
                    Materialize.toast('Не удалось изменить информацию о фото', 3000);
                } else {
                    Materialize.toast('Информация о фото изменена', 3000);
                }
            }
        });
    }
    var deletePhoto = function(photo_id){
        $.ajax({
            type: "POST",
            url: '/admin/projects/delete_photo/',
            data: 'id='+ photo_id,
            success: function (data) {
                if (!data) {
                    Materialize.toast('Не удалось удалить фото', 3000);
                } else {
                    $('#'+photo_id+'photo').remove();
                    Materialize.toast('Фотография удалена', 3000);
                }
            }
        });
    }
    function replaceProject(id) {
        var material = $("#material").val();
        var description = $("#desc").val();
        var name = $('[name="name"]').val();
        var mark = $('[name="mark"]').val();
        var price = $('[name="price"]').val();
        var space = $('[name="space"]').val();
        var number_room = $('[name="number_room"]').val();

        $.ajax({
            type: "POST",
            url: '/admin/projects/replace_project',
            data: 'id='+ id +'&type=' + type + '&name=' + name + '&mark=' + mark + '&price=' + price + '&space=' + space + '&number_room=' + number_room + '&material=' + material + '&description=' + description,
            success: function (data) {
                if (!data) {
                    Materialize.toast('Не удалось сохранить изменения', 3000);
                } else {
                    Materialize.toast('Изменения сохранены', 3000);
                }
            }
        });
    }

</script>
<!-- Подгрузка интерьеров -->

</body>
</html>