<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel='stylesheet' href='/css/admin/projects.css' />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<%- include ../template/navigation_admin.ejs %>

<body>
<main>

        <div class="col s12">
            <ul class="tabs z-depth-1">
                <li class="tab col s3"><a id="LinkInfo" class="active light-blue-text accent-2" href="#information">Информация</a></li>
                <li class="tab col s3"><a id="LinkPhoto" class="light-blue-text accent-2" href="#photo">Фотографии</a></li>
            </ul>
        </div>
    <div class="container">
        <div id="information" class="col s12">
            <div class="row padding-top-20">
                <!-- ФОРМА РЕДАКТИРОВАТЬ !-->
                <div class="card-panel">
                    <div class="input-field col s12">
                        <select id="type" disabled>
                            <% if (type == 'design') { %>
                            <option value="1">Интерьеры</option>
                            <% } else if (type == 'projects'){ %>
                            <option value="2">Проекты</option>
                            <% } else { %>
                            <option value="3">Ландшафты</option>
                            <% } %>
                        </select>
                        <label>Тип</label>
                    </div>
                    <div class="input-field col s12 l6 m6">
                        <input id="name" name="name" type="text"  value="<%= project.name %>">
                        <label for="name">Название проекта</label>
                    </div>
                    <div class="input-field col s12 l6 m6">
                        <input id="mark" name="mark" type="text"  value="<%= project.mark %>">
                        <label for="mark">Маркировка</label>
                    </div>
                    <% if (type == 'projects') { %>
                    <div class="input-field col s12 l12 m6">
                        <input id="material" name="material" type="text" value="<%= project.material %>">
                        <label for="material">Материалы</label>
                    </div>
                    <% } %>
                    <div class="input-field col s12 l4 m6">
                        <input id="price" name="price" type="text" value="<%= project.price %>">
                        <label for="price">Цена</label>
                    </div>
                    <% if (type == 'projects' || type == 'design') { %>
                    <div class="input-field col s12 l4 m6">
                        <input id="space" name="space" type="text" value="<%= project.space %>">
                        <label for="space">Площадь</label>
                    </div>
                    <% } %>
                    <% if (type == 'projects' || type == 'design') { %>
                    <div class="input-field col s12 l4 m6">
                        <input id="number_room" name="number_room" type="text" value="<%= project.number_room %>">
                        <label for="number_room">Кол-во комнат</label>
                    </div>
                    <% } %>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="desc" class="materialize-textarea"><%= project.description %></textarea>
                            <label for="desc">Описание проекта</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 right-align">
                            <a id="active" onclick="replaceProject(<%= project.id %>)" class="waves-effect waves-green btn-flat">Изменить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- РАЗДЕЛ ФОТО !-->
        <div id="photo" class="col s12">
            <div class="row padding-top-20">
                <form class="col s12 m12 l12" action="#">
                    <div class="file-field input-field">
                        <div class="btn light-blue accent-2">
                            <span>Upload</span>
                            <input id="photo_chooser" type="file"  multiple onchange="uploadPhoto(<%= project.id %> ); $(this).val('')">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>



                <div  id='preloader' class="progress  blue lighten-5" style="display: none">
                    <div class="indeterminate blue"></div>
                </div>

                <div class="row" id="main_photo">
                    <% for (var i = 0; i < photos.length; i++) { %>
                    <div class="col s12 m6 l4" id="<%= photos[i].id %>photo">
                        <div class="card">
                            <div style="background: #d1d1d1;">
                                <div style="background: url(/images/uploaded_files/<%= photos[i].image_name %>) no-repeat; width: 100%; height: 225px;  background-size: <%= photos[i].orient == 1 ? 'contain' : 'cover'%>; background-position: center"> </div>
                            </div>
                            <ul class="card-action-buttons">
                                <li><a onclick="deletePhoto(<%= photos[i].id %>);" class="btn-floating waves-effect waves-light red"><i class="material-icons">close</i></a>
                                </li>
                            </ul>
                            <div class="card-content overflow-none">
                                <div class="input-field">
                                    <div>
                                        <select class="browser-default custom-select" onChange="update(<%= photos[i].id %>)" id="image_type<%= photos[i].id %>">
                                            <% for (var j = 0; j < image_types.length; j++) {
                                            if (image_types[j].id == photos[i].type_images_id) { %>
                                            <option value="<%= image_types[j].type %>"><%= image_types[j].type_name %></option>
                                            <% }} %>
                                            <% for (var j = 0; j < image_types.length; j++) {
                                            if (image_types[j].id != photos[i].type_images_id) { %>
                                            <option value="<%= image_types[j].type %>"><%= image_types[j].type_name %></option>
                                            <% }} %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
    
    $(document).ready(function(){
        $('ul.tabs').tabs();
        $('.modal-trigger').leanModal();
        $('select').material_select();
    });
    
    function uploadPhoto(project_id){
        var files = document.getElementById("photo_chooser").files;
        if (!files) { Materialize.toast('No files', 4000); return; }
        else
        {
            var data = [];
            for (var i = 0; i < files.length; i++){
                data[i] = new FormData();
                data[i].append('uploadFile', files[i]);
            }
            var upload = function(index){
                if (index < data.length){
                    $.ajax({
                        type: "POST",
                        url: "/admin/projects/upload_photo/"+project_id + '?album='+true,
                        data: data[index],
                        cache: false,
                        processData: false,
                        contentType: false,
                        beforeSend: function(){
                            $('#preloader').css("display", "block");
                        },
                        success: function(res){

                            upload(++index);
                            if (res.status == 'bad'){ Materialize.toast("Ошибка при загрузке", 3000); }
                            else {
                                // генерим HTML для нового блока фотографии
                                var photo_item = document.createElement("div");
                                photo_item.className = "col s12 m6 l4";
                                photo_item.setAttribute("id", res.photo_id+"photo");
                                var photo_item_html = "";
                                photo_item_html += '     <div class="card" id="main_photo">';
                                photo_item_html += '         <div class="card-image">';
                                photo_item_html += '            <img style="height: 100%" src="/images/uploaded_files/'+res.mini_name + '"/>';
                                photo_item_html += '        </div>';
                                photo_item_html += '        <ul class="card-action-buttons">';
                                photo_item_html += '            <li><a onclick="deletePhoto('+res.photo_id+');" class="btn-floating waves-effect waves-light red"><i class="material-icons">close</i></a></li>';
                                photo_item_html += '        </ul>';
                                photo_item_html += '        <div class="card-content overflow-none"> ';
                                photo_item_html += '            <div class="input-field">';
                                photo_item_html += '                <div>'
                                photo_item_html += '                <select class="browser-default custom-select" onChange="update('+res.photo_id +')" id="image_type' + res.photo_id + '">';
                                for (var j = 0; j < res.image_types.length; j++) {
                                    photo_item_html += '                <option value="' + res.image_types[j].id + '">' + res.image_types[j].type_name + '</option>';
                                }
                                photo_item_html += '                </select>';
                                photo_item_html += '                </div>';
                                photo_item_html += '            </div>';
                                photo_item_html += '        </div>';
                                photo_item_html += '        </div>';
                                photo_item_html += '    </div>';
                                photo_item.innerHTML = photo_item_html;
                                document.getElementById("main_photo").appendChild(photo_item);
                            }
                        }
                    });
                } else {
                    // добавляем materialize обработку на селекты
                    $('select').material_select();
                    $('#preloader').css("display", "none");
                    Materialize.toast("фотографии загружены на сервер", 1000);
                }
            }
            upload(0);
        };
    }
    function deletePhoto(photo_id){
        $.ajax({
            type: "POST",
            url: '/admin/projects/delete_photo/',
            data: 'id='+ photo_id,
            success: function (data) {
                if (!data) {
                    Materialize.toast('Не удалось удалить фото', 1000);
                } else {
                    $('#'+photo_id+'photo').remove();
                    Materialize.toast('Фотография удалена', 1000);
                }
            }
        });
    }
    function replaceProject(id) {
        var material = $("#material").val();
        var description = $("#desc").val();
        var name = $('[name="name"]').val();
        var mark = $('[name="mark"]').val();
        var price = $('[name="price"]').val();
        var space = $('[name="space"]').val();
        var number_room = $('[name="number_room"]').val();

        $.ajax({
            type: "POST",
            url: '/admin/projects/replace_project',
            data: 'id='+ id +'&type=' + type + '&name=' + name + '&mark=' + mark + '&price=' + price + '&space=' + space + '&number_room=' + number_room + '&material=' + material + '&description=' + description,
            success: function (data) {
                if (!data) {
                    Materialize.toast('Не удалось сохранить изменения', 1000);
                } else {
                    Materialize.toast('Изменения сохранены', 1000);
                }
            }
        });
    }
    function update(id) {
        // id нового выбранного типа (0 = дефолт (не укзаано), 1 = главная, 2..inf = остальные)
        var type = $("#image_type"+id).val();
        var selects = $('select');
        // ajax - апдейт фотки в бд
        var update_type = function(id, type){
            $.ajax({
                type: "POST",
                url: '/admin/projects/update_photo',
                data: 'id='+id+'&type='+type,
            });
        };
        // если уже было выбрано главное фото, то
        if (type == "main"){
            var elem, elem_id;
            for (var i = 1; i < selects.length; i++) {
                elem = selects[i];
                console.log(elem);
                elem_id = selects[i].getAttribute('id');
                // ищем прошлые главные фото
                if (elem.value == "main"){
                    // меняем их на дефолтные в селектах
                    $("#"+elem_id).val('default');
                    // и в бд
                    update_type(elem_id.slice(10), "default");
                }
                $("#image_type"+id).val('main');
            };
        }
        // установка нового типа для выбранного фото
        update_type(id, type);
        Materialize.toast('Тип успешно изменен.', 1000);
    }
</script>
</body>
</html>