<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel='stylesheet' href='/css/admin/projects.css' />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<%- include ../template/navigation_admin.ejs %>

<body>
<main>
    <!-- Навигация -->
    <div class="col s12">
        <ul class="tabs z-depth-1">
            <li class="tab col s3"><a id="LinkInfo" class="active light-blue-text accent-2" href="#information">Информация</a></li>
            <li class="tab col s3"><a id="LinkPhoto" class="light-blue-text accent-2" href="#photo">Фотографии</a></li>
        </ul>
    </div>
    <div class="container">
        <!-- Форма информации о проекте -->
        <div id="information" class="col s12">
            <div class="row padding-top-20">
                <div class="card-panel">
                    <div class="input-field col s12">
                        <select id="type" disabled>
                            <% if (type == 'design') { %>
                            <option value="1">Интерьеры</option>
                            <% } else if (type == 'projects'){ %>
                            <option value="2">Проекты</option>
                            <% } else { %>
                            <option value="3">Ландшафты</option>
                            <% } %>
                        </select>
                        <label>Тип</label>
                    </div>
                    <div class="input-field col s12 l6 m6">
                        <input id="name" name="name" type="text"  value="<%= project.name %>">
                        <label for="name">Название проекта</label>
                    </div>
                    <div class="input-field col s12 l6 m6">
                        <input id="mark" name="mark" type="text"  value="<%= project.mark %>">
                        <label for="mark">Маркировка</label>
                    </div>
                    <% if (type == 'projects') { %>
                    <div class="input-field col s12 l12 m6">
                        <input id="material" name="material" type="text" value="<%= project.material %>">
                        <label for="material">Материалы</label>
                    </div>
                    <% } %>
                    <div class="input-field col s12 l4 m6">
                        <input id="price" name="price" type="text" value="<%= project.price %>">
                        <label for="price">Цена</label>
                    </div>
                    <% if (type == 'projects' || type == 'design') { %>
                    <div class="input-field col s12 l4 m6">
                        <input id="space" name="space" type="text" value="<%= project.space %>">
                        <label for="space">Площадь</label>
                    </div>
                    <% } %>
                    <% if (type == 'projects' || type == 'design') { %>
                    <div class="input-field col s12 l4 m6">
                        <input id="number_room" name="number_room" type="text" value="<%= project.number_room %>">
                        <label for="number_room">Кол-во комнат</label>
                    </div>
                    <% } %>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="desc" class="materialize-textarea"><%= project.description %></textarea>
                            <label for="desc">Описание проекта</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 right-align">
                            <a id="active" onclick="replaceProject(<%= project.id %>)" class="waves-effect waves-green btn-flat">Изменить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Раздел фотографий проекта -->
        <div id="photo" class="col s12">
            <div class="row padding-top-20">
                
                <!-- Аплоадер -->
                <form class="col s12 m12 l12" action="#">
                    <div class="file-field input-field">
                        <div class="btn light-blue accent-2">
                            <span>Upload</span>
                            <input id="photo_chooser" type="file" multiple onchange="uploadPhoto(<%= project.id %> ); $(this).val('')">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
                
                <!-- Прелоадер -->
                <div  id='preloader' class="progress  blue lighten-5" style="display: none">
                    <div class="indeterminate blue"></div>
                </div>

                <!-- Фотографии -->
                <div class="row" id="main_photo">
                    
                    <% for (var i = 0; i < photos.length; i++) { %>
                    <!-- Карточка -->
                    <div class="col s12 m6 l4" id="<%= photos[i].id %>photo">
                        <div class="card">
                            <!-- Фото в карточке -->
                            <div class="card-image">
                                <img src="/images/uploaded_files/<%= photos[i].mini_name %>" class="responsive-img" />
                            </div>
                            <!-- Кнопка "удалить" -->
                            <ul class="card-action-buttons">
                                <li><a onclick="deletePhoto(<%= photos[i].id %>);" class="btn-floating waves-effect waves-light red"><i class="material-icons">close</i></a>
                                </li>
                            </ul>
                            <!-- Селект с типами -->
                            <div class="card-content overflow-none">
                                <div class="input-field">
                                    <div>
                                        <select class="browser-default custom-select" onChange="update(<%= photos[i].id %>)" id="image_type<%= photos[i].id %>">
                                            <% for (var j = 0; j < image_types.length; j++) {
                                            if (image_types[j].id == photos[i].type_images_id) { %>
                                            <option value="<%= image_types[j].type %>"><%= image_types[j].type_name %></option>
                                            <% }} %>
                                            <% for (var j = 0; j < image_types.length; j++) {
                                            if (image_types[j].id != photos[i].type_images_id) { %>
                                            <option value="<%= image_types[j].type %>"><%= image_types[j].type_name %></option>
                                            <% }} %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script src="/js/admin_project_info.js"></script>
</body>
</html>