<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/css/admin/admin.css' />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<%- include ../template/navigation_admin.ejs %>

<body>
<main>
    <div class="col s12">
        <ul class="tabs z-depth-1">
            <li class="tab col s3">
                <a id="LinkUnselected" class="active light-blue-text accent-2" href="#unselected">Скрытые</a>
            </li>
            <li class="tab col s3">
                <a id="LinkSelected" class="light-blue-text accent-2" href="#selected">Отображаемые</a>
            </li>
        </ul>
    </div>
    <!-- таблица проектов !-->
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <table class="highlight bordered centered margin-top-30">
                    <thead>
                    <tr>
                        <th data-field="name">Название</th>
                        <th data-field="mark">Маркировка</th>
                        <th>Показать на главной</th>
                    </tr>
                    </thead>

                    <tbody id="unselected">
                    <% for (var i in projects) { %>
                    <% if (projects[i].selected != 1) { %>
                        
                        <tr id="<%= projects[i].id %>tr">
                            <td><%= projects[i].name %></td>
                            <td><%= projects[i].mark %></td>
                            <td>
                                <a onclick="trycheck(<%= projects[i].id %>, '<%= projects[i].name %>', '<%= projects[i].mark %>', true);" class="btn-flat">
                                    <i class="small material-icons" >play_arrow</i>
                                </a>
                            </td>
                        </tr>
                    <%  }} %>
                    </tbody>
                    
                    <tbody id="selected">
                    <% for (var i in projects) { %>
                    <% if (projects[i].selected == 1) { %>
                        
                        <tr id="<%= projects[i].id %>tr">
                            <td><%= projects[i].name %></td>
                            <td><%= projects[i].mark %></td>
                            <td>
                                <a onclick="trycheck(<%= projects[i].id %>, '<%= projects[i].name %>', '<%= projects[i].mark %>', false);" class="btn-flat">
                                    <i class="small material-icons" >not_interested</i>
                                </a>
                            </td>
                        </tr>
                    <%  }} %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="/js/admin_view_list.js"></script>
</body>
</html>